.alert-container {
    position        : fixed;
    z-index         : 100;
    top             : 0;
    bottom          : 0;
    left            : 0;
    right           : 0;
    background-color: rgba(255, 255, 255, 0.496);
    display         : flex;
    justify-content : center;
    align-items     : center;

    .alert-content {
        width              : 350px;
        height             : 200px;
        background-color   : #6c4b9eda;
        display            : flex;
        flex-direction     : column;
        justify-content    : space-around;
        border-radius      : 5px;
        // align-items     : center;


        .alert-icon {
            font-size: 40px;

        }

        .alert-info-modal {
            font-size: 20px;
            color    : #fff;
        }
    }
}