.content-container {
    text-align         : left;
    background-color   : #fff;
    padding            : 10px;
    border-radius      : 3px;
    height             : 100%;
    // box-shadow      : 0 0 0 4px rgba(0, 0, 0, 0.2);
}