.header-container {
    display        : flex;
    justify-content: space-between;
    align-items    : center;

    .header-heading {
        padding    : 20px 0;
        font-weight: bold;
        color      : #fff;
    }

    .header-btn {
        height          : 46px;
        color           : #fff;
        background-color: #007bff;
        display         : none;
    }

}